<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://rachelsreviews.net/wp-content/uploads/2016/06/film.jpg)">
  All my film lists
</div>

<div class = "container">
  <%= link_to "Create a movie list", new_list_path, class: "btn btn-flat mt-2" %>
  <div class = "cards">
    <% @lists.each do |list| %>
      <div class = "card">
        <%= cl_image_tag list.photo&.key %>
        <%= link_to list.name, list_path(list), class: "btn btn-flat mt-2"%>
        <%= link_to "delete", list_path(list), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-flat m-2"%>
      </div>
    <% end %>
  </div>
</div>
