// Specific CSS for your home-page
.container {
  display: flex;
  flex-direction: column;
}

.btn-flat {
  color: white;
  text-decoration: none;
  padding: 8px 24px;
  border-radius: 4px;
  background: #01b3f9;
  transition: background 0.3s ease;
  width: 200px;
  margin-bottom: 20px;
  margin-left: auto;
}

.btn-flat:hover {
  background: #0045d9;
  color: white;
}
